.footer-outer-container {
  background-color: #111;
  display: flex;
  color: gray;
  justify-content: center;
}
.footer-inner-container {
  width: 60%;
}
.footer-icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
}
.footer-data {
  display: flex;
  justify-content: space-between;
  color: grey;
}
.footer-data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  font-size: 15px;
  margin: 10px 10px;
}
.footer-data ul li {
  cursor: pointer;
}
.service-code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  width: 20%;
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
}
.copy-write {
  font-size: 12px;
  margin-bottom: 10px;
}
/* To make it responsive */
@media screen and (max-width: 700px) {
  .footer-outer-container {
    .service-code {
      padding: 0px 40px;
      margin-top: 40px;
      width: 50%;
      font-size: 12px;
    }
  }
}
